BasedOnStyle: LLVM

BreakBeforeBraces: Linux
PointerAlignment: Left
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: AcrossComments
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortBlocksOnASingleLine: Always
AllowShortFunctionsOnASingleLine: None
AlignTrailingComments: false
ColumnLimit: 0
