BasedOnStyle: LLVM

BreakBeforeBraces: Linux
PointerAlignment: Left
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: AcrossComments
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortFunctionsOnASingleLine: None
AlignTrailingComments: false
AllowShortEnumsOnASingleLine: true
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
IndentCaseLabels: true
AlignConsecutiveShortCaseStatements:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
  AlignCaseColons: false
ColumnLimit: 0
